# Dependencies
node_modules/

# Environment files (SENS)
.env
*.env
.env.local
.env.production

# Database
# server/database.db

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# OS filse
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sw?
